torch==2.2.2+cu118
torchaudio==2.2.2+cu118
torchdata==0.7.1
torchtext==0.18.0
torchvision==0.17.2+cu118
huggingface_hub==0.23.4
transformers==4.41.2
datasets==2.20.0
evaluate==0.4.2
tokenizers==0.19.1
rouge_score==0.1.2
bitsandbytes==0.43.1
trl==0.9.4
peft==0.11.1
accelerate==0.32.1
pycocotools==2.0.8
pytesseract==0.3.10
diffusers==0.29.2
sentencepiece==0.2.0
faiss==1.7.4
ray==2.31.0
optuna==3.6.1
auto_gptq==0.7.1 
optimum==1.20.0